body {
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
    background-color: lightcyan;
    -ms-overflow-style: none; /* Remove scroll bar (Edge)*/
    scrollbar-width: none; /* Remove scroll bar (Firefox)*/
}

body::-webkit-scrollbar {
    display: none; /* Remove scroll bar (Chrome and Safari) */
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: seagreen;
    text-align: center;
    padding: 10px 10px;
}

.picture {
    text-align: center;
}

.picture img {
    border: black solid;
}

.document {
    text-align: center;
    padding: 50px 400px;
    padding: 2vw 22vw;
    height: 1000px;
    height: 64.5vw;
}

nav ul {
    background-color: darkseagreen;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
    padding: 8px 8px;
}

nav a {
    color: darkslategray;
    text-align: center;
    text-decoration: none;
    padding: 18px 16px;
}

nav li a:hover {
    background-color: darkolivegreen;
}